<ion-content class="signin-screen">
  <body>
    <div class="signin-header">
        <img alt="Silhouette of mountains" src="../assets/image/Done.png" style="width: 100%; height: auto;" />
      <h2>Welcome back to <br> TO-DUO</h2>
    </div>

    <ion-item lines="none" class="rounded-input">
      <ion-input placeholder="Enter your fullname" type="text" [(ngModel)]="fullname"></ion-input>
    </ion-item>

    <ion-item lines="none" class="rounded-input">
      <ion-input placeholder="Enter your email" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    
    <ion-item lines="none" class="rounded-input">
      <ion-input placeholder="Enter your password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="signin-button" (click)="validateInputs()">Sign In</ion-button>

    <div class="signup-link center-content">
      <p>Don’t have an account? <a href="#" [routerLink]="['/registration']">Sign Up</a></p>
    </div>
  </body>
</ion-content>

